body {
    text-align:center;
    margin: 0px;
    color:white;
    font-size:30px;
    font-family: 'Josefin Sans', sans-serif;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
a{
    color:white;
}
.image{
    position: absolute;
    width: 100%;
    height: 112%;
    z-index: -222;
    background-size: cover;
    background-image: url("img/gym.jpg");
    filter: sepia(0.5);

}
.image-shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

ul {

    list-style-type: none;

}
#Pasek {
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.2);

    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px 0px 0px;
    letter-spacing: 6px; /*Rozdziela*/
}

.container{
    margin-left:auto;
    margin-right:auto;
    display-inline:block;
}
.west{
    width:20%;
    height:950px;
    color:red;
    background: rgba(0,0,0,0.4);
    float:left;
    font-size:22px;
}
.container > li{
    list-style-type:none;
    
}
.container > li:nth-child(2){
    background-color: #fff;

}
.west a{

    text-decoration:none;
}

.main{
    height:auto;
    width:80%;
    float:left;
    background: rgba(0,0,0,0.6);
}



.menu > li{
    display:inline-block;
    list-style-type:none;
    border-right: 1px dashed gray;

}
.menu a{
    text-decoration:none;
}
.menu > li:first-child{
    padding-left:10px;
    border-left: 1px dashed gray;
}

.login{
    text-align:right;
}

.login > li{
    display:inline-block;
}


.Produkt{
    height:460px;
    width:98%;
    background: rgba(0,0,0,0.4);
    margin:10px;

    display:inline-block;
    float:left;
    border: 1px solid #0C112B;
    line-height:2px;
}

.Produkt>img{
    transition: transform .3s;
    margin: 10px 20px;
    background-color: rgba(255,255,255,0.4);
}
.Produkt>img:hover{
    transform: scale(1.1);
    z-index: 2;
}

h5{
    color:red;
    font-size:16px;
    text-align:uppercase;
    line-height:2px;
}

h4{
    font-size:20px;
    text-align:center;
    margin-top:40px;

}
p{
    font-size:25px;
    text-align:center;
    color:red;
}
.zdj{
    display:inline-block;
    height:300px;
    width:300px;
}





/* ////////////////////////////////////////////////////////////  Próba naprawy niektórych obiektów..*/


button, #Pasek>nav>ul>li>a{
    width: 20%;
    height: 50px;
    border-radius: 10px;
    transition: color .3s, background-color .3s, transform .3s;
    border: none;
}
#Pasek>nav>ul>li>a:hover{
    color: #85d2ff;
}
button >a{
    border-radius: 10px;
    color: #3d22b4;
    display: flex;
    text-decoration: none;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    height: 100%;
    width: 100%;
    justify-content: center;
}
button:hover{
    background-color: rgb(59, 59, 201);
    
}
button>a:hover{
    color: #fff;

}
.west{
    display: flex;
    align-items: start;
    justify-content: center;
}

.west>ul>li{
    margin: 20px auto;  
    transition: transform .3s;   
}
.west>ul>li>a{
    padding: 10px;
}
.west>ul>li:hover{
    transform: scale(1.2);
}
.west>ul>li:nth-child(6){
    justify-content: end;
    height: 100%;
}
table>tr:nth-child(2){
    background-color: red;
}
.backGround{
    
}