<!DOCTYPE HTML>
<html>
<head> 
    <title>Dni otwarcia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="index.css" type="text/css" />
</head>
<body>
    <header>
        <div class="image">
            <div class="image-shadow"></div>
        </div>
        <div id="Pasek">
            <nav>
                <ul class="menu">
                    <li><a href="#"> Strona Główna</a></li>
                    <li><a href="#"> O Siłowni</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="west">
                <ul>
                    <li><a href="#">Klienci</a></li>
                    <li><a href="#">Awarie</a></li>
                    <li><a href="#">...</a></li>
                    </br>
                    <li><a href="#">Comming soon!</a></li>
                    </br></br></br></br></br></br></br></br></br></br></br></br>
                    </br></br></br></br></br></br></br></br></br></br></br>
                    </br></br></br>
                    </br></br></br></br>
                    <li><a href="#">...</a></li>

                </ul>
            </div>
            <div class="main" style="height:970px;">
                <div class="Produkt">
<!--                    <img src="img/Komp1.png" width="180" height="180"/>-->
                    <h4 style="margin-top:150px;"><p style="font-size: 30px; color:#1597ca">Pn-Pt: 8:00-23:00</p></h4>
                    <h4><p style="font-size: 30px; color:#1597ca"> Sobota-Niedziela: 10:00-20:00</p></h4>

                    <button style="width:30%;"><a href="/index.html" style="font-size:20px;">Wróć</a></button>

                </div>

            </div>

        </div>


    </main>

    </div>
    <h3>
    
<!--        <a href="/add_person">Dodawanie osoby </a> </br> </br>-->

        
    </h3>



</body>
</html>
