<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Logowanie</title>
        <link rel="stylesheet" href="../static/css/login.css" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form method="POST" th:object="${klient}">
            <div class="login">
                <h2 class="title">Logowanie: (admin/admin)</h2>

                <div class="form-group">
                    <label class="text"> Podaj email </label>:
                    <input
                        type="text"
                        th:field="${klient.imie}"
                        class="inp"
                        value="" /><br />
                </div>

                <div class="form-group">
                    <label class="text"> Podaj haslo </label>:
                    <input
                        type="password"
                        class="inp"
                        th:field="${klient.nazwisko}"
                        value="" /><br />
                </div>
                <div class="center">
                    <a href="/index.html" class="return">wróć</a>
                    <input type="submit" value="Dodaj" class="add return" />
                </div>
            </div>
        </form>
    </body>
</html>
